<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuedong.mapper.TestMapper" >
  <resultMap id="BaseResultMap" type="com.yuedong.domain.Test" >
    <id column="testId" property="testid" jdbcType="INTEGER" />
    <result column="testName" property="testname" jdbcType="VARCHAR" />
    <result column="testPassword" property="testpassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    testId, testName, testPassword
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from test
    where testId = #{testid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from test
    where testId = #{testid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yuedong.domain.Test" >
    insert into test (testId, testName, testPassword
      )
    values (#{testid,jdbcType=INTEGER}, #{testname,jdbcType=VARCHAR}, #{testpassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yuedong.domain.Test" >
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="testid != null" >
        testId,
      </if>
      <if test="testname != null" >
        testName,
      </if>
      <if test="testpassword != null" >
        testPassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="testid != null" >
        #{testid,jdbcType=INTEGER},
      </if>
      <if test="testname != null" >
        #{testname,jdbcType=VARCHAR},
      </if>
      <if test="testpassword != null" >
        #{testpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuedong.domain.Test" >
    update test
    <set >
      <if test="testname != null" >
        testName = #{testname,jdbcType=VARCHAR},
      </if>
      <if test="testpassword != null" >
        testPassword = #{testpassword,jdbcType=VARCHAR},
      </if>
    </set>
    where testId = #{testid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuedong.domain.Test" >
    update test
    set testName = #{testname,jdbcType=VARCHAR},
      testPassword = #{testpassword,jdbcType=VARCHAR}
    where testId = #{testid,jdbcType=INTEGER}
  </update>
</mapper>