<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- css -->
	 
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
	 <!--
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">-->
	<link href="css/mysonglist.css" rel="stylesheet">
	
	 
	<!-- js -->
	
	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!--<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script> -->
</head>
<body>

		 <img id="play-icon" alt="140x140" src="images/play.png" />
		<span id="Headline-2">播放全部</span>
		<table class="table" id="music-table">
				<tbody>
					<tr>
						<td>
				 <div class="row">
					<div class="">
						<div class="col-sm-2">
							<div class="list-number">1 |</div>
					   </div>
						<div class="col-sm-10">
							<div class="list-font-1">歌曲</div>
							<div class="list-font-2">歌手</div>
					   </div>
				   </div>
				</div>  	    
						</td>
						<td>			

						</td>
						<td>
	
						</td>
						<td>
							<i class="glyphicon glyphicon-play-circle">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-download-alt">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-star">
							</i>
						</td>
					</tr>
					<tr>
						<td>
				 <div class="row">
					<div class="">
						<div class="col-sm-2">
							<div class="list-number">1 |</div>
					   </div>
						<div class="col-sm-10">
							<div class="list-font-1">歌曲</div>
							<div class="list-font-2">歌手</div>
					   </div>
				   </div>
				</div>  	    
						</td>
						<td>			

						</td>
						<td>
	
						</td>
						<td>
							<i class="glyphicon glyphicon-play-circle">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-download-alt">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-star">
							</i>
						</td>
					</tr><tr>
						<td>
				 <div class="row">
					<div class="">
						<div class="col-sm-2">
							<div class="list-number">1 |</div>
					   </div>
						<div class="col-sm-10">
							<div class="list-font-1">歌曲</div>
							<div class="list-font-2">歌手</div>
					   </div>
				   </div>
				</div>  	    
						</td>
						<td>			

						</td>
						<td>
	
						</td>
						<td>
							<i class="glyphicon glyphicon-play-circle">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-download-alt">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-star">
							</i>
						</td>
					</tr><tr>
						<td>
				 <div class="row">
					<div class="">
						<div class="col-sm-2">
							<div class="list-number">1 |</div>
					   </div>
						<div class="col-sm-10">
							<div class="list-font-1">歌曲</div>
							<div class="list-font-2">歌手</div>
					   </div>
				   </div>
				</div>  	    
						</td>
						<td>			

						</td>
						<td>
	
						</td>
						<td>
							<i class="glyphicon glyphicon-play-circle">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-download-alt">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-star">
							</i>
						</td>
					</tr><tr>
						<td>
				 <div class="row">
					<div class="">
						<div class="col-sm-2">
							<div class="list-number">1 |</div>
					   </div>
						<div class="col-sm-10">
							<div class="list-font-1">歌曲</div>
							<div class="list-font-2">歌手</div>
					   </div>
				   </div>
				</div>  	    
						</td>
						<td>			

						</td>
						<td>
	
						</td>
						<td>
							<i class="glyphicon glyphicon-play-circle">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-download-alt">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-star">
							</i>
						</td>
					</tr><tr>
						<td>
				 <div class="row">
					<div class="">
						<div class="col-sm-2">
							<div class="list-number">1 |</div>
					   </div>
						<div class="col-sm-10">
							<div class="list-font-1">歌曲</div>
							<div class="list-font-2">歌手</div>
					   </div>
				   </div>
				</div>  	    
						</td>
						<td>			

						</td>
						<td>
	
						</td>
						<td>
							<i class="glyphicon glyphicon-play-circle">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-download-alt">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-star">
							</i>
						</td>
					</tr><tr>
						<td>
				 <div class="row">
					<div class="">
						<div class="col-sm-2">
							<div class="list-number">1 |</div>
					   </div>
						<div class="col-sm-10">
							<div class="list-font-1">歌曲</div>
							<div class="list-font-2">歌手</div>
					   </div>
				   </div>
				</div>  	    
						</td>
						<td>			

						</td>
						<td>
	
						</td>
						<td>
							<i class="glyphicon glyphicon-play-circle">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-download-alt">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-star">
							</i>
						</td>
					</tr><tr>
						<td>
				 <div class="row">
					<div class="">
						<div class="col-sm-2">
							<div class="list-number">1 |</div>
					   </div>
						<div class="col-sm-10">
							<div class="list-font-1">歌曲</div>
							<div class="list-font-2">歌手</div>
					   </div>
				   </div>
				</div>  	    
						</td>
						<td>			

						</td>
						<td>
	
						</td>
						<td>
							<i class="glyphicon glyphicon-play-circle">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-download-alt">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-star">
							</i>
						</td>
					</tr><tr>
						<td>
				 <div class="row">
					<div class="">
						<div class="col-sm-2">
							<div class="list-number">1 |</div>
					   </div>
						<div class="col-sm-10">
							<div class="list-font-1">歌曲</div>
							<div class="list-font-2">歌手</div>
					   </div>
				   </div>
				</div>  	    
						</td>
						<td>			

						</td>
						<td>
	
						</td>
						<td>
							<i class="glyphicon glyphicon-play-circle">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-download-alt">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-star">
							</i>
						</td>
					</tr><tr>
						<td>
				 <div class="row">
					<div class="">
						<div class="col-sm-2">
							<div class="list-number">1 |</div>
					   </div>
						<div class="col-sm-10">
							<div class="list-font-1">歌曲</div>
							<div class="list-font-2">歌手</div>
					   </div>
				   </div>
				</div>  	    
						</td>
						<td>			

						</td>
						<td>
	
						</td>
						<td>
							<i class="glyphicon glyphicon-play-circle">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-download-alt">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-star">
							</i>
						</td>
					</tr><tr>
						<td>
				 <div class="row">
					<div class="">
						<div class="col-sm-2">
							<div class="list-number">1 |</div>
					   </div>
						<div class="col-sm-10">
							<div class="list-font-1">歌曲</div>
							<div class="list-font-2">歌手</div>
					   </div>
				   </div>
				</div>  	    
						</td>
						<td>			

						</td>
						<td>
	
						</td>
						<td>
							<i class="glyphicon glyphicon-play-circle">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-download-alt">
							</i>
							&nbsp;
							<i class="glyphicon glyphicon-star">
							</i>
						</td>
					</tr>
				</tbody>
			</table>
		
	    	
<!-- 分页 -->
<div class="container" id="pag-container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="pagination">
				<li>
					 <a href="#">上一页</a>
				</li>
				<li>
					 <a href="#">&nbsp;1&nbsp;</a>
				</li>
				<li>
					 <a href="#">&nbsp;2&nbsp;</a>
				</li>
				<li>
					 <a href="#">&nbsp;3&nbsp;</a>
				</li>
				<li>
					 <a href="#">&nbsp;4&nbsp;</a>
				</li>
				<li>
					 <a href="#">&nbsp;5&nbsp;</a>
				</li>
				<li>
					 <a href="#">下一页</a>
				</li>
			</ul>
		</div>
	</div>
</div>
	    	
</body>
</html>