<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>编辑个人资料</title>
<!-- css -->
	 
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
	 <!--
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">-->
	<link href="css/register.css" rel="stylesheet">
	
	 
	<!-- js -->
	
	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!--<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script> -->
</head>
<body>
 <div class="container" id="header-container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
			<!-- 登录icon+标题 -->
			<img id="header-icon" alt="140x140" src="images/MusicIcon.png" />
				  <span id="header-font">悦动音乐</span>
				</div>
			</div>
		</div>
	</div>
<div class="container" id="login-container">
 	<div class="row clearfix">
 		<div class="col-md-12 column">
				
				<!-- 登录表单 -->
				<form class="form-horizontal" role="form">
				<div class="form-group">
    <label for="firstname-1" class="col-sm-2 control-label" id="login-font-1">用户名</label>         
    <div class="col-sm-4">
      <input type="text" class="form-control" id="firstname-1" placeholder="请输入用户名" >
    </div>
  </div>
  <div class="form-group">
    <label for="firstname-2" class="col-sm-2 control-label" id="login-font-2">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>         
    <div class="col-sm-4">
      <input type="text" class="form-control" id="firstname-2" placeholder="请输入密码">
    </div>
  </div>
 <div class="form-group">
    <label for="firstname-2" class="col-sm-2 control-label" id="login-font-2">确&nbsp;&nbsp;&nbsp;&nbsp;认</label>         
    <div class="col-sm-4">
      <input type="text" class="form-control" id="firstname-2" placeholder="请确认密码">
    </div>
  </div>
  <div class="form-group">
    <label for="firstname-2" class="col-sm-2 control-label" id="login-font-2">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</label>         
    <div class="col-sm-4">
      <input type="text" class="form-control" id="firstname-2" placeholder="请输入邮箱">
    </div>
  </div>
  <div class="form-group">
    <label for="firstname-2" class="col-sm-2 control-label" id="login-font-2">验证码</label>         
    <div class="col-sm-4">
      <input type="text" class="form-control" id="firstname-2" placeholder="请输入验证码">
    </div>
  </div>
  </form>
  		<button class="btn btn-default" id=btu-1 type="button">返回</button>
  		<button class="btn btn-default" id=btu-2 type="button">注册</button>
		</div>
 	 </div>
 </div>	
</body>
</html>